<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="PropertyTech" value="https://nuget.pkg.github.com/property-technology-solutions/index.json" />
  </packageSources>
  
  <packageSourceCredentials>
    <PropertyTech>
      <add key="Username" value="propertytechnologysolutions" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </PropertyTech>
  </packageSourceCredentials>
  
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="PropertyTech">
      <package pattern="PropertyTech.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>

